.footerContainer {
    background-color: #182B1F; /* Fondo oscuro similar a la paleta general */
    color: #F5F5F5;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.logoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #F5F5F5;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.contactSection {
    width: 30%;
    text-align: center;
}

.sectionTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactText {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.emailLink {
    color: #F5F5F5;
    text-decoration: none;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    color: #F5F5F5;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mapSection {
    width: 30%;
    text-align: center;
}

.map {
    border: 0;
}

.footerBottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #B0B0B0;
    width: 100%;
}

.privacyLink {
    color: #B0B0B0;
    text-decoration: none;
    margin: 0 5px;
}
